<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.today.mapper.ThAdMateriaMapper">
    
    <resultMap type="ThAdMateria" id="ThAdMateriaResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="localPath"    column="local_path"    />
        <result property="remotePath"    column="remote_path"    />
        <result property="md5"    column="md5"    />
        <result property="materiaId"    column="materia_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectThAdMateriaVo">
        select id, file_name, local_path, remote_path, md5, materia_id, create_by, create_time, update_by, update_time, remark from th_ad_materia
    </sql>

    <select id="selectThAdMateriaList" parameterType="ThAdMateria" resultMap="ThAdMateriaResult">
        <include refid="selectThAdMateriaVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
        </where>
    </select>

    <select id="selectThAdMateriaByFileName" parameterType="String" resultMap="ThAdMateriaResult">
        <include refid="selectThAdMateriaVo"/>
        where file_name = #{param1}
    </select>

    <select id="selectThAdMateriaById" parameterType="Long" resultMap="ThAdMateriaResult">
        <include refid="selectThAdMateriaVo"/>
        where id = #{id}
    </select>

    <select id="selectThAdMateriaByMediaMateria" parameterType="String" resultMap="ThAdMateriaResult">
        select b.id, b.file_name, b.local_path, b.remote_path, b.md5, b.materia_id, b.create_by, b.create_time, b.update_by, b.update_time, b.remark from th_ad_media_materia a left join th_ad_materia b on a.materia_id = b.id where a.media_materia_id = #{param1}
    </select>

    <insert id="insertThAdMateria" parameterType="ThAdMateria" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into th_ad_materia
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="localPath != null  and localPath != ''">local_path,</if>
            <if test="remotePath != null  and remotePath != ''">remote_path,</if>
            <if test="md5 != null  and md5 != ''">md5,</if>
            <if test="materiaId != null  and materiaId != ''">materia_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="localPath != null  and localPath != ''">#{localPath},</if>
            <if test="remotePath != null  and remotePath != ''">#{remotePath},</if>
            <if test="md5 != null  and md5 != ''">#{md5},</if>
            <if test="materiaId != null  and materiaId != ''">#{materiaId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateThAdMateria" parameterType="ThAdMateria">
        update th_ad_materia
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="localPath != null  and localPath != ''">local_path = #{localPath},</if>
            <if test="remotePath != null  and remotePath != ''">remote_path = #{remotePath},</if>
            <if test="md5 != null  and md5 != ''">md5 = #{md5},</if>
            <if test="materiaId != null  and materiaId != ''">materia_id = #{materiaId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteThAdMateriaById" parameterType="Long">
        delete from th_ad_materia where id = #{id}
    </delete>

    <delete id="deleteThAdMateriaByIds" parameterType="String">
        delete from th_ad_materia where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>