<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.today.mapper.ThTodayMatterMapper">
    
    <resultMap type="ThTodayMatter" id="ThTodayMatterResult">
        <result property="id"    column="id"    />
        <result property="advertiserId"    column="advertiser_id"    />
        <result property="signature"    column="signature"    />
        <result property="type"    column="type"    />
        <result property="matterId"    column="matter_id"    />
        <result property="todayId"    column="today_id"    />
    </resultMap>

    <sql id="selectThTodayMatterVo">
        select id, advertiser_id, signature, type from th_today_matter
    </sql>

    <select id="selectThTodayMatterList" parameterType="ThTodayMatter" resultMap="ThTodayMatterResult">
        <include refid="selectThTodayMatterVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectThTodayMatterById" parameterType="Long" resultMap="ThTodayMatterResult">
        <include refid="selectThTodayMatterVo"/>
        where id = #{id}
    </select>
    <select id="selectThTodayMatterByType" parameterType="String" resultMap="ThTodayMatterResult">
        select a.advertiser_id,b.id matter_id,a.today_id from th_today_matter a left join th_video_matter b on a.signature = b.signature
        <where>
            b.id is not null
            <if test="type != null and type != ''">
                and a.type = #{type}
            </if>
        </where>
    </select>

    <insert id="insertThTodayMatter" parameterType="ThTodayMatter" useGeneratedKeys="true" keyProperty="id">
        insert into th_today_matter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">advertiser_id,</if>
            <if test="signature != null  and signature != ''">signature,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="todayId != null and todayId != ''">today_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">#{advertiserId},</if>
            <if test="signature != null  and signature != ''">#{signature},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="todayId != null  and todayId != ''">#{todayId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateThTodayMatter" parameterType="ThTodayMatter">
        update th_today_matter
        <trim prefix="SET" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">advertiser_id = #{advertiserId},</if>
            <if test="signature != null  and signature != ''">signature = #{signature},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteThTodayMatterById" parameterType="Long">
        delete from th_today_matter where id = #{id}
    </delete>

    <delete id="deleteAllThTodayMatter">
        delete from th_today_matter
    </delete>

    <delete id="deleteThTodayMatterByIds" parameterType="String">
        delete from th_today_matter where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>