<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.today.mapper.ThVideoMatterTodayMapper">
    
    <resultMap type="ThVideoMatterToday" id="ThVideoMatterTodayResult">
        <result property="id"    column="id"    />
        <result property="advertiserId"    column="advertiser_id"    />
        <result property="matterId"    column="matter_id"    />
        <result property="todayMatterIdId"    column="today_matter_id_id"    />
    </resultMap>

    <sql id="selectThVideoMatterTodayVo">
        select id, advertiser_id, matter_id, today_matter_id_id from th_video_matter_today
    </sql>

    <select id="selectThVideoMatterTodayList" parameterType="ThVideoMatterToday" resultMap="ThVideoMatterTodayResult">
        <include refid="selectThVideoMatterTodayVo"/>
        <where>
            <if test="advertiserId != null and advertiserId != ''">
                and advertiser_id = #{advertiserId}
            </if>
            <if test="matterId != null and matterId != ''">
                and matter_id = #{matterId}
            </if>
        </where>
    </select>
    
    <select id="selectThVideoMatterTodayById" parameterType="Long" resultMap="ThVideoMatterTodayResult">
        <include refid="selectThVideoMatterTodayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertThVideoMatterToday" parameterType="ThVideoMatterToday" useGeneratedKeys="true" keyProperty="id">
        insert into th_video_matter_today
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">advertiser_id,</if>
            <if test="matterId != null ">matter_id,</if>
            <if test="todayMatterIdId != null  and todayMatterIdId != ''">today_matter_id_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">#{advertiserId},</if>
            <if test="matterId != null ">#{matterId},</if>
            <if test="todayMatterIdId != null  and todayMatterIdId != ''">#{todayMatterIdId},</if>
         </trim>
    </insert>

    <update id="updateThVideoMatterToday" parameterType="ThVideoMatterToday">
        update th_video_matter_today
        <trim prefix="SET" suffixOverrides=",">
            <if test="advertiserId != null  and advertiserId != ''">advertiser_id = #{advertiserId},</if>
            <if test="matterId != null ">matter_id = #{matterId},</if>
            <if test="todayMatterIdId != null  and todayMatterIdId != ''">today_matter_id_id = #{todayMatterIdId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteThVideoMatterTodayById" parameterType="Long">
        delete from th_video_matter_today where id = #{id}
    </delete>

    <delete id="deleteThVideoMatterTodayByIds" parameterType="String">
        delete from th_video_matter_today where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>