<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.today.mapper.ThVideoMatterManageMapper">

    <resultMap id="ThMatterManageMap" type="ThMatterManage">
        <id javaType="Long" column="id" property="id"></id>
        <association property="putDayNum" javaType="java.lang.Integer" column="id=id" select="com.ruoyi.today.mapper.ThVideoMatterManageMapper.selectMatterPutDayNumByMatterId"></association>
    </resultMap>

    <select id="selectMaxReportTime" resultType="String">
        select max(report_time) from th_video_matter_report
    </select>

    <select id="selectMatterPutDayNumByMatterId" parameterType="ThMatterManage" resultType="Integer">
        select count(a.report_time) from (select report_time from th_video_matter_report where matter_id = #{id} group by report_time) a
    </select>

    <select id="selectMatter" parameterType="ThMatterManage" resultMap="ThMatterManageMap">

        select a.create_time createTime,a.id,a.file_name fileName,a.matter,a.order_id orderId,a.`status`,a.video_cover videoCover,b.order_name orderName,c.need_name needName,c.video_group videoGroup,d.averagePlayTimePerPlay,d.reportCost,d.totalPlay,d.reportShow from th_video_matter a left join th_video_order b on a.order_id = b.id
        left join th_video_need c on a.order_id = c.order_id
        left join (select matter_id, truncate(avg(average_play_time_per_play),2) averagePlayTimePerPlay,sum(total_play) totalPlay,sum(report_cost) reportCost,sum(report_show) reportShow from th_video_matter_report
        <where>
            <if test="timeRange != null  and timeRange != ''">
                and report_time >= left (#{timeRange},10) and report_time &lt;= right(#{timeRange},10)
            </if>
        </where>
        group by matter_id) d on a.id = d.matter_id
        <where>
            <if test="productName != null and productName != ''">
                and c.product_name like  concat('%',#{productName},'%')
            </if>
            <if test="videoDept != null and videoDept != ''">
                and c.video_dept = #{videoDept}
            </if>
            <if test="videoGroup != null and videoGroup != ''">
                and c.video_group = #{videoGroup}
            </if>
            <if test="fileName != null and fileName != ''">
                and a.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="timeRange != null  and timeRange != ''">
                and a.create_time >= left (#{timeRange},10) and a.create_time &lt;= right(#{timeRange},10)
            </if>
        </where>
        <if test="sql != null and sql != ''">
            ${sql}
        </if>
    </select>
    <select id="selectMatterCostSum" parameterType="ThMatterManage" resultType="String">

        select ifnull(sum(d.reportCost),'0') from th_video_matter a left join th_video_order b on a.order_id = b.id
        left join th_video_need c on a.order_id = c.order_id
        left join (select matter_id, truncate(avg(average_play_time_per_play),2) averagePlayTimePerPlay,sum(total_play) totalPlay,sum(report_cost) reportCost,sum(report_show) reportShow from th_video_matter_report
            <where>
                <if test="timeRange != null  and timeRange != ''">
                    and report_time >= left (#{timeRange},10) and report_time &lt;= right(#{timeRange},10)
                </if>
            </where>
            group by matter_id) d on a.id = d.matter_id
        <where>
            <if test="productName != null and productName != ''">
                and c.product_name like  concat('%',#{productName},'%')
            </if>
            <if test="videoDept != null and videoDept != ''">
                and c.video_dept = #{videoDept}
            </if>
            <if test="videoGroup != null and videoGroup != ''">
                and c.video_group = #{videoGroup}
            </if>
            <if test="fileName != null and fileName != ''">
                and a.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="timeRange != null  and timeRange != ''">
                and a.create_time >= left (#{timeRange},10) and a.create_time &lt;= right(#{timeRange},10)
            </if>
        </where>
    </select>
    <select id="selectMatterCount" parameterType="ThMatterManage" resultType="Integer">

        select count(a.id) from th_video_matter a left join th_video_order b on a.order_id = b.id
        left join th_video_need c on a.order_id = c.order_id
        left join (select matter_id,avg(average_play_time_per_play) averagePlayTimePerPlay,sum(total_play) totalPlay,sum(report_cost) reportCost,sum(report_show) reportShow from th_video_matter_report group by matter_id) d on a.id = d.matter_id
        <where>
            <if test="productName != null and productName != ''">
                and c.product_name like concat('%',#{productName},'%')
            </if>
            <if test="videoDept != null and videoDept != ''">
                and c.video_dept = #{videoDept}
            </if>
            <if test="videoGroup != null and videoGroup != ''">
                and c.video_group = #{videoGroup}
            </if>
            <if test="fileName != null and fileName != ''">
                and a.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="timeRange != null  and timeRange != ''">
                and a.create_time >= left (#{timeRange},10) and a.create_time &lt;= right(#{timeRange},10)
            </if>
        </where>
    </select>

</mapper>