<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <th:block th:include="include :: header('新增视频需求')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-need-add" enctype="multipart/form-data">
            需求信息（提交后不可更改，请仔细检查）
            <hr>
            <div class="form-group">
                <label class="col-sm-3 control-label">需求名称：</label>
                <div class="col-sm-5">
                    <input name="need.needName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red">*</span>产品名称：</label>
                <div class="col-sm-5">
                    <select name="need.productName" required="required" class="form-control" th:with="type=${@dict.getType('ta_video_product')}">
                        <option value="">请选择产品名称</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">产品行业：</label>
                <div class="col-sm-5">
                    <input name="need.productTrade" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>投放链接：</label>
                <div class="col-sm-5">
                    <input name="need.putUrl" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red">*</span>产品logo：</label>
                <div class="col-sm-1">
                    <input name="logoFile" id="logoUrl" class="form-control" type="file" required>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>文件名要求:不可超过50字,可由"汉字,英文,数字"组成,不要使用特殊字符"如-丶~!等"</span>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品说明：</label>
                <div class="col-sm-5">
                    <textarea name="need.productDetail" class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red">*</span> 优化组长：</label>
                <div class="col-sm-5">
                    <select name="need.optimizeGroupLeader" class="form-control" required="required" th:with="type=${@dict.getType('ta_video_optimize')}">
                        <option value="">请选择优化组长</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color:red;">*</span> 下单类型：</label>
                <div class="col-sm-5">
                    <div th:with="type=${@dict.getType('ta_video_order_type')}">
                        <input type="radio" th:each="dict : ${type}" name="need.orderType"th:value="${dict.dictValue}" th:text="${dict.dictLabel}" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red">*</span> 投放媒体：</label>
                <div class="col-sm-5">
                    <div th:with="type=${@dict.getType('ta_video_media')}">
                        <input type="radio" th:each="dict : ${type}" name="need.putMedia"th:value="${dict.dictValue}" th:text="${dict.dictLabel}" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red">*</span>截止日期：</label>
                <div class="col-sm-5">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="need.endTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red">*</span>接单部门：</label>
                <div class="col-sm-5">
                    <select name="need.dept" class="form-control" id="dept" onchange="videoDeptChange()" required="required" th:with="type=${@dict.getType('ta_video_dept')}">
                        <option value="">请选择接单部门</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red">*</span>接单团队：</label>
                <div class="col-sm-5">
                    <select name="need.group" id="group" class="form-control" required="required">
                        <option value="">请先选择接单部门</option>
                    </select>
                </div>
            </div>
            订单信息
            <hr>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red" >*</span>订单名称：</label>
                <div class="col-sm-5">
                    <input name="orderName" class="form-control" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red">*</span>视频脚本：</label>
                <div class="col-sm-1">
                    <input name="videoScriptFile" id="videoScript" class="form-control" type="file" required>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>文件名要求:不可超过50字,可由"汉字,英文,数字"组成,不要使用特殊字符"如-丶~!等"</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> 素材类型：</label>
                <div class="col-sm-5">
                    <div th:with="type=${@dict.getType('ta_video_matter_type')}">
                        <input type="radio" th:each="dict : ${type}" name="type"th:value="${dict.dictValue}" th:text="${dict.dictLabel}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">特殊要求：</label>
                <div class="col-sm-5">
                    <textarea name="specialNeed" class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">风险提示语：</label>
                <div class="col-sm-5">
                    <textarea name="riskWord" class="form-control" type="text"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "today/video"
        $("#form-need-add").validate({
            focusCleanup: true
        });

        function videoDeptChange(){
            var dept = $("#dept").val();
            $.ajax({
                url: prefix + "/dictGetType",
                type: "post",
                data: {"type":dept},
                datatype: "json",
                success:function(data){
                    optionJson = data;
                    var selectObj=document.getElementById("group");
                    selectObj.options.length=0;
                    selectObj.options.add(new Option("请选择接单团队" , ""));
                    for(var i=0;i<data.length;i++){
                        selectObj.add(new Option(optionJson[i].dictLabel,optionJson[i].dictValue));
                    }
                }
            })

        }

        function submitHandler() {
            if ($.validate.form()) {
                var formData = new FormData(document.getElementById("form-need-add"));
                var config = {
                    url: prefix + "/add",
                    type: "post",
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                        $.modal.disable();
                    },
                    success: function(result) {
                        $.operate.successCallback(result);
                    }
                };
                $.ajax(config)
            }
        }

        $("input[name='need.endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>