<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('素材列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">

         <div class="col-sm-12 search-collapse">
             <form id="formId">
                 <div class="select-list">
                     <ul>
                         <li>
                             <select name="videoDept" id="dept" th:with="type=${@dict.getType('ta_video_dept')}" onchange="videoDeptChange()">
                                 <option value="">全部视频部门</option>
                                 <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                             </select>
                         </li>
                         <li>
                             <select name="videoGroup" id="group">
                                 <option value="">全部视频团队</option>
                             </select>
                         </li>
                         <li>
                             <input name="productName" type="text" placeholder="产品名称">
<!--                             <select name="productName" th:with="type=${@dict.getType('ta_video_product')}">-->
<!--                                 <option value="">全部产品</option>-->
<!--                                 <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                             </select>-->
                         </li>
                         <li>
                             <input name="fileName" placeholder="视频名称">
                         </li>
                         <li>
                             <select name="sql">
                                 <option value="">排序</option>
                                 <option value="order by reportCost">按消耗升序</option>
                                 <option value="order by reportCost desc">按消耗降序</option>
                             </select>
                         </li>
                         <li>
                             <div class="col-sm-2" style="padding: 0px">
                                 <div class="form-group">
                                     <div class="input-group date">
                                         <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                         <input name="timeRange" type="text" class="form-control" id="putTime" placeholder="开始日期 至 结束日期">
                                     </div>
                                 </div>
                             </div>
                         </li>
                         <li>
                             <a class="btn btn-primary btn-rounded btn-sm" onclick="searchVal()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                             <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                             <span >当前条件下总消耗:<span id="sumcost"></span></span>
                         </li>
                     </ul>
                 </div>
             </form>
         </div>
         <div>
             <p th:text="'当前数据的最后更新日期:'+${@thVideoMatterManageMapper.selectMaxReportTime()}"></p>
             <div id="context">

             </div>
         </div>

         <div >
             <div  style="text-align: center">
                 <button id="prePage" type="button" onclick="prePage()" class="btn btn-white">上一页
                 </button>
                 <button id="lastPage" type="button" onclick="lastPage()" class="btn btn-white">下一页
                 </button>
                 <span id="pageNum"></span>
             </div>
         </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "today/video";
        function yulan(fileName,url){
            $.modal.openFull("预览:"+fileName,url);
        }

        function searchVal(){
            // $.common.formToJSON(currentId)
            // var data = $("#formId").serialize();

            var data = $.common.formToJSON("formId");
            currPage = 1;
            initBox(data);
            isDisabled();
            var config1 = {
                url: prefix+"/materiaCostSum",
                type: "post",
                dataType: "json",
                data: searchData,
                success: function(result) {

                    $("#sumcost").text(result);

                }
            };
            $.ajax(config1)
        }

        function isDisabled(){
            if(currPage==1){
                $("#prePage").attr("disabled","disabled");
            }else{
                $("#prePage").attr("disabled",false);
            }
            if(currPage==totalPage){
                $("#lastPage").attr("disabled","disabled");
            }else {
                $("#lastPage").attr("disabled",false);
            }
        }

        function prePage(){
            currPage = currPage - 1;
            initBox(searchData);
            isDisabled();
        }
        function lastPage(){
            currPage = currPage + 1;
            initBox(searchData);
            isDisabled();
        }

        function nullToZero(val){
            if(val==undefined||val==null){
                return "0.0";
            }else{
                return val;
            }
        }
        function nullToBlank(val){
            if(val==undefined||val==null){
                return "";
            }else{
                return val;
            }
        }
        function videoDeptChange(){
            var dept = $("#dept").val();
            $.ajax({
                url: prefix + "/dictGetType",
                type: "post",
                data: {"type":dept},
                datatype: "json",
                success:function(data){
                    optionJson = data;
                    var selectObj=document.getElementById("group");
                    selectObj.options.length=0;
                    selectObj.options.add(new Option("全部视频团队" , ""));
                    for(var i=0;i<data.length;i++){
                        selectObj.add(new Option(optionJson[i].dictLabel,optionJson[i].dictValue));
                    }
                }
            })

        }
        <!-- laydate示例 -->
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            laydate.render({
                elem: '#putTime',
                range: true
            });

        });

        var searchData = null;
        var totalPage = null;
        var currPage = null;

        function initBox(data){
            searchData = data;
            var config1 = {
                url: prefix+"/materiaCount",
                type: "post",
                dataType: "json",
                data: searchData,
                async: false,
                success: function(result) {

                    totalPage = Math.ceil(result/6);
                    $("#pageNum").html("第"+currPage+"页（共"+totalPage+"页）")
                }
            };
            $.ajax(config1)
            searchData.page = currPage;
            var config = {
                url: prefix+"/materia",
                type: "post",
                dataType: "json",
                data: searchData,
                async: false,
                success: function(result) {
                    var html = [];
                    $.each(result,function (index,item) {
                        if(index==0||index==3){
                            html.push('<div class="row">')
                        }
                        html.push('<div class="col-sm-4">\n' +
                            '                     <div class="ibox">\n' +
                            '                         <div class="ibox-title">\n' +
                            '                             <span class="label label-primary pull-right">'+nullToBlank(item.status)+'</span>\n' +
                            '                             <span class="label label-info pull-right">已投'+nullToBlank(item.putDayNum)+'天</span>\n' +
                            '                             <h5>'+nullToBlank(item.orderName)+'</h5>\n' +
                            '                         </div>\n' +
                            '                         <div class="ibox-content">\n' +
                            '                             <div class="row">\n' +
                            '                                 <div class="col-sm-10">\n' +
                            '                                     <span>'+$.table.tooltip('视频名称：'+nullToBlank(item.fileName))+'</span>\n' +
                            '                                 </div>\n' +
                            '                             </div>\n' +
                            '                             <div class="row">\n' +
                            '                                 <div class="col-sm-4">\n' +
                            '                                     <span>平均播放（s）：'+nullToZero(item.averagePlayTimePerPlay)+'</span>\n' +
                            '                                 </div>\n' +
                            '                                 <div class="col-sm-3">\n' +
                            '                                     <span>总播放：'+nullToZero(item.totalPlay)+'</span>\n' +
                            '                                 </div>\n' +
                            '                                 <div class="col-sm-3">\n' +
                            '                                     <span>总消耗：'+nullToZero(item.reportCost)+'</span>\n' +
                            '                                 </div>\n' +
                            '                             </div>\n' +
                            '                             <div class="row" style="text-align: center">\n' +
                            '                                 <a href="#" onclick="yulan(\''+item.fileName+'\',\''+item.matter+'\');" >\n' +
                            '                                     <img width="200" height="150" src="'+nullToBlank(item.videoCover)+'">\n' +
                            '                                 </a>\n' +
                            '                             </div>\n' +
                            '                             <div class="row">\n' +
                            '                                 <div class="col-sm-4">\n' +
                            '                                     <span>素材链接：<a href="/today/video/downloadFile/'+item.id+'">下载</a></span>\n' +
                            '                                 </div>\n' +
                            '                             </div>\n' +
                            '                             <div class="row">\n' +
                            '                                 <div class="col-sm-4">\n' +
                            '                                     <span>订单号:<span>'+nullToBlank(item.orderId)+'</span></span>\n' +
                            '                                 </div>\n' +
                            '                             </div>\n' +
                            '                         </div>\n' +
                            '                     </div>\n' +
                            '                 </div>')
                        if(index == 2){
                            html.push('</div>')
                        }

                    });
                    if(result.length!=3&&result.length!=0){
                        html.push('</div>')
                    }
                    $("#context").html(html.join(""))

                }
            };
            $.ajax(config)

        }

        $(function() {
            currPage = 1;
            initBox({});
            isDisabled();
        });
    </script>
</body>
</html>