<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改财务查看')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facExhibition-edit" th:object="${actorFacexhibition}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
             是否付款
                <div class="col-sm-8">
                    <input name="ispayment" th:field="*{ispayment}" value="0" class="form-control" type="hidden">
                </div>
            </div>


        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/facExhibition";
        $("#form-facExhibition-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-facExhibition-edit').serialize());
            }
        }

        $("input[name='shotTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>