<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增审批')"/>
</head>
<body class="white-bg">
<form  class="form-horizontal m" id="form-facExhibition-edit" >
    <input id="actorName" name="actorName" class="form-control-static" type="hidden" th:value="${actorName}">

<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">

            <label class="radio-box">
                <input type="hidden" checked value="0" name="ispayment" style="position: absolute; opacity: 0;">
                是否确认付款</label>
        </div>
    </div>

</div>
</form>


<th:block th:include="include :: footer"/>
<script type="text/javascript">

    var prefixs = ctx + "system/facExhibition";
    var actorName = $("#actorName").val();


    function submitHandler() {
        if ($.validate.form()) {

            $.operate.save(prefixs + "/exls", $('#form-facExhibition-edit').serialize());
        }
    }


    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                alert(result.msg);
                $.modal.closeTab();
            }
        };
        $.ajax(config)
    }
</script>
</body>
</html>
