<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增拍摄app数量统计')" />
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-appName-add">

            <input id="detailid" name="detailid" class="form-control-static" type="hidden" th:value="${detailid}">

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js"/>
    <th:block th:include="include :: bootstrap-suggest-js"/>
    <th:block th:include="include :: bootstrap-select-js"/>
    <script type="text/javascript">
        var prefix = ctx + "system/appName"
        var prefixs = ctx + "system/details";


        var detailids = $("#detailid").val();

        //
        // function zAdd() {
        //
        //     $.modal.openFull("拍摄详情", "/system/details/addName?id="+detailids);
        // }
        $(function() {
            var options = {
                url: prefixs + "/listApplyId?applyId=" + detailids,
                id: "bootstrap-table-1",
                // createUrl: prefixs + "/add",
                // updateUrl: prefixs + "/edit/{id}",
                // removeUrl: prefixs + "/remove",
                // exportUrl: prefixs+ "/export",
                modalName: "视频拍摄详情",
                columns: [{
                    checkbox: false
                },
                    {
                        field : 'id',
                        title : 'id',
                        visible: false
                    },
                    {
                        field : 'applyId',
                        title : '拍摄app数量统计表id'
                    },
                    {
                        field : 'groups',
                        title : '组别'
                    },
                    {
                        field : 'advertiser',
                        title : '拍摄广告主'
                    },
                    {
                        field : 'appNumber',
                        title : '拍摄条数'
                    }
                     ]
            };
            $.table.init(options);
        });


        $("#form-appName-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-appName-add').serialize());
            }
        }


        var testBsSuggest = $("#actorName").bsSuggest({
            url: ctx + "system/information/userModel",
            showBtn: false,
            idField: "name",
            keyField: "name",
            effectiveFields: ["id", "name"],
            multiWord: true,
            hideOnSelect: true
        }).on('onDataRequestSuccess', function (e, result) {
            console.log('onDataRequestSuccess: ', result);
        }).on('onSetSelectValue', function (e, keyword) {
            console.log('onSetSelectValue: ', keyword);
        }).on('onUnsetSelectValue', function (e) {
            console.log("onUnsetSelectValue");
        });

        var testBsSuggest = $("#idNumber").bsSuggest({
            url: ctx + "system/information/userModel",
            showBtn: false,
            idField: "idnumber",
            keyField: "idnumber",
            effectiveFields: ["name", "idnumber"],
            multiWord: true,
            hideOnSelect: true
        }).on('onDataRequestSuccess', function (e, result) {
            console.log('onDataRequestSuccess: ', result);
        }).on('onSetSelectValue', function (e, keyword) {
            console.log('onSetSelectValue: ', keyword);
        }).on('onUnsetSelectValue', function (e) {
            console.log("onUnsetSelectValue");
        });


    </script>
</body>
</html>